body {
	margin:0;
	padding: 0;
	width: 100%;
}

h1 {
	font-family: "Arvo";
	font-weight: normal;
	font-size: 55px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;

}

h2 {
	font-family:"Arvo";
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}

h3 {
	font-family: Oswald;
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	margin: 5px 0;
	padding: 0;
	z-index: 1;
	position: relative;
}

.center { margin: 0 auto; }
.content { margin: 0 auto;width: 960px; }
.clear { clear: both; }

#header {
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	height: 80px;
	position: fixed;
	margin-top: 30px;
}

#nav {
	width: 410px;
	float: right;
	margin-top: 20px;
}

#logo a {
	color: #fff;
	text-decoration: none;
	float: left;
	font-size: 30px;
	margin-top: 20px;
	color: #fff;
	font-family: "Wellfleet";
	font-weight: bold;
}

#nav ul {
	list-style: none;
	display: block;
	margin: 0 auto;
} 

#nav li {
	margin-top: 9px;
	float: left;
	padding-left: 21px; 
}

#nav li a {
	color: #fff;
	opacity: 0.6;
	font-size: 16px;
	text-decoration: none;
	font-family: "Wellfleet";
}

#nav l1 a.active {
	color: #fff;
	opacity: 1;
	border-bottom: 2px solid #fff;
}

#nav l1 a:hover {
	color: #fff;
	opacity: 1;
}

.quotes {
	font-family: 'Goudy Bookletter 19110', serif;
	font-weight: normal;
	font-size: 30px;
	text-align: left;
	margin: 50px auto;
}

#slide1, #slide2 { width: 100%; }
#slide1 {
	background: url("../img/home.jpg") 50% 0 no-repeat fixed;
	color: #fff;
	height: 600px;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size:cover; 
}

#slide2 {
	background-color: #333333;
	height: 300px;
	margin: 0 auto;
	overflow: hidden;
	padding:200px 0;
}

#slide3 {
	background: url("../img/about.jpg") 50% 0 no-repeat fixed;
	color: #fff;
	height: 600px;
	padding: 170px 0 0 0;
	background-size: cover;
}

#slide4 {
	background-color: #fff;
	color: #333333;
	height: 300px;
	padding: 200px 0;
}

#slide5 {
	background: url("../img/contact.jpg") 50% 0 no-repeat fixed;
	height: 200px;
	margin: 0 auto;
	padding: 250px 0;
	color: #fff;
	background-size: cover;
}
}